body {
    position: relative;
    margin: 3em 20em;
}

h1 {
    font-family: Helvetica;
    text-align: center;
    font-size: 42px;
}

header {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    background-color: gray;
    margin-left: 8px;
}

img {
    position: static;
    float: left;
    width: 100%;
    height:100%;
    max-width: 300px;
    max-height: 350px;
}

section {
    padding: 15px 90px;
}

article {
    font-size: 24px;
    text-align: justify;
}