body {
    font-family: "Poppins", sans-serif;
    margin: 6vw 24vw;
    justify-content: center;
    font-weight: 600;
}

h1 {
    color: midnightblue;
    text-align: center;
    font-size: 42px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(3, 52, 36);
}

section p {
    height: 40px;
    padding-left: 10px;
    color: white;
    vertical-align: middle;
    line-height: 40px;
    margin: 0;
}

p:nth-of-type(1) {
    background-color: midnightblue;
    grid-column: 1 / 5;
}

p:nth-of-type(2) {
    background-color: slategray;    
}

p:nth-of-type(3) {
    background-color: silver;
}

p:nth-of-type(4) {
    background-color: chocolate;
}

p:nth-of-type(5) {
    background-color: darkgreen;
}

p:nth-of-type(6) {
    background-color: darkslategray;
}

p:nth-of-type(7) {
    background-color: red;
}

p:nth-of-type(8) {
    background-color:gold;
}

p:nth-of-type(9) {
    background-color: darkcyan;
}

p:nth-of-type(10) {
    background-color: gray;
}

p:nth-of-type(11) {
    background-color: orangered;
}

p:nth-of-type(12) {
    background-color: limegreen;
}

p:nth-of-type(13) {
    background-color: teal;
}

p:nth-of-type(14) {
    background-color: fuchsia;
}

p:nth-of-type(15) {
    background-color: palevioletred;
}

p:nth-of-type(16) {
    background-color: salmon;
    grid-column: 3/5;
}

p:nth-of-type(17) {
    background-color: purple;
}

p:nth-of-type(18) {
    background-color: violet;
}

p:nth-of-type(19) {
    background-color: indigo;
}

p:nth-of-type(20) {
    background-color: darkslateblue;
}

p:nth-of-type(21) {
    background-color:deepskyblue;
    grid-column: 1/3;
}

p:nth-of-type(22) {
    background-color: turquoise;
    grid-column: 3/5;
}